#root {
    -fx-background-color:black;
}
#menu {
    -fx-padding:10;
}
#menu .button {
    -fx-background-color: darkturquoise;
    -fx-background-radius: 3;
    -fx-font-size: 10pt;
}
.scroll-pane {
    -fx-background-color: transparent;
}
.scroll-pane .viewport{
    -fx-background-color: transparent;
}

.scroll-pane .content{
    -fx-background-color: transparent;
}

