#root {
    -fx-background-color:transparent;
}
#menu .button {
    -fx-background-color: darkturquoise;
    -fx-background-radius: 3;
    -fx-font-size: 10pt;
}


/** highlighter.css
    place in same directory as ListViewTextHighlighter.java
    ensure build system copies the css file to the build output path */

/** Remove default highlighting of alternate rows */
.list-view {
    -fx-background-color: transparent;
}
.list-cell {
    -fx-background-color: transparent;
}
.list-cell:odd {
    -fx-background-color: transparent;
}