#root {
    -fx-background-color:black;
}
.button {
    -fx-background-color: darkturquoise;
    -fx-background-radius: 3;
}
.slider{
    -fx-background-color:null;  /* Hide the track */
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding:50;
}
.slider .thumb {
    -fx-pref-height: 20px;
}
