#root {
    -fx-background-color:black;
}
#menu .button {
    -fx-background-color: darkturquoise;
    -fx-background-radius: 3;
    -fx-opacity:0.3;
    -fx-font-size: 16pt;
    -fx-pref-width: 150;
}
#menu .label {
    -fx-font-size: 16pt;
}
.slider{
    -fx-background-color:null;  /* Hide the track */
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding:50;
}
.slider .thumb {
    -fx-pref-height: 50;
    -fx-pref-width: 50;
}
